<h2>Por Región</h2>
<hr />

<div class="row">
  <div class="col text-center">
    <button
      *ngFor="let region of regions"
      (click)="searchRegion(region)"
      class="btn btn-outline-primary mx-2"
      [ngClass]="{
        'btn-primary': selectedRegion === region,
        'text-white': selectedRegion === region
      }"
    >
      {{ region }}
    </button>
  </div>
</div>

<div class="row">
  <div class="col">
    <!-- Table Results -->
    <hr />
    <ul>
      <countries-country-table
        [countries]="countries"
      ></countries-country-table>
    </ul>
  </div>
</div>
